{%extends 'bootstrap/base.html' %}
{%block content %}


    <div class="container">
        <div class="jumbotron text-center">
        <h2>NATURAL LANGUAGE PROCESSING</h2>
        </div>   
	</div>
	
	<div class="row">      
		<div class="col-md-6"> 
				<form action = "{{url_for('analyze')}}" method="POST" id="myForm">       
				<select name = 'comp_select' class="mdb-select md-form" onchange="selector()">
						<option value="" disabled selected>Choose your option</option>
						<option value="#">Hashtag</option>
						<option value="$">Ticker</option>
						<option value="hdl">Handle</option>
						<option value="">Free Search</option>
					  </select>       
		</div>
	</div>

    <div class = "container">
        <form action = "{{url_for('analyze')}}" method="POST" id="myForm">
            <textarea name = "rawtext" row = "3" cols = "3" class = "form-control">
    
            </textarea>
            <input type="submit" name="" value = "Submit" class = "btn-primary">
            <input type="reset" name="" value = "Clear" class = "btn-primary">
            <a href="{{url_for('index')}}" type="button" class = "btn-primary">Reset</a>
        </form>
	</div>

	<div class = "container">
        <div class = "table">

            <div>
                <hr/>{{rawtext | safe}} 
                <hr/>{{name1 | safe}} <br> {{pol1 }}
                <hr/>{{text1 | safe}}
                <hr/>{{name2 | safe}} <br> {{pol2 }}
                <hr/>{{text2 | safe}}
                <hr/>{{fig | safe}}
                <hr/>{{fig3 | safe}}
                <hr/>{{wordfig1 | safe}}
            	
            </div>
            <hr/>
            
                       

        </div>

        <div class = "table">
            <div>
               {{tw_html2 | safe}}	
            </div>
            
            
                       

        </div>
    </div>


{% endblock %}